In [30]:
#list of high schools
high_schools=["Hernandez High School", "Figueroa High School","Wilson High School", "Wright High School"]

In [31]:
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [32]:
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [33]:
for highschool in high_school_types:
        print(highschool)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [34]:
# list of high schools
high_schools= ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffin High School", "Wilson High SChool", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School","Johnson High School", "Ford High School","Thomas High School"]

In [35]:
# Add pandas dependency
import pandas as pd

In [36]:
#Create a Pandas series from a list
school_series=pd.Series(high_schools)
school_series

0         Huang High School
1       Figueroa High Schoo
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High SChool
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [37]:
for highschool in school_series:
    print(highschool)

Huang High School
Figueroa High Schoo
Shelton High School
Hernandez High School
Griffin High School
Wilson High SChool
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [38]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [39]:
school_df=pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [40]:
# Three separate lists of information  on high schools
school_id=[0,1,2,3,4]
school_name= ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]
type_of_school = ["District", "District", "Charter", "District","Charter"]

In [42]:
#initialize a new dataframe.
schools_df= pd.DataFrame()

In [46]:
#Add the list to a new dataframe
schools_df["School ID"] = school_id
schools_df["School name"]=school_name
schools_df["Shool type"]=type_of_school


# Print the DataFrame.
schools_df

   School ID            School name Shool type
0          0      Huang High School   District
1          1   Figueroa High School   District
2          2    Shelton High School    Charter
3          3  Hernandez High School   District
4          4    Griffin High School    Charter

In [49]:
# create a dictionary of information on high schools.
high_schools_dict={'School ID': school_id,'School_name':school_name,'type':type_of_school}

In [57]:
highschools_df=pd.DataFrame()
highschools_df["High Schools"]=high_schools_dict
highschools_df

            High Schools
School ID      School ID
School_name  School_name
type                type

In [58]:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [59]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [64]:
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [65]:
# list of high schools
highschool_id=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,13]
highschool_name= ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffin High School", "Wilson High SChool", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School","Johnson High School", "Ford High School","Thomas High School"]
highschool_type=["District","District","Charter","District","Charter","Charter","Charter","District","Charter","Charter","Charter","District","District","District","Charter"]

In [67]:
highschoolinfo_df=pd.DataFrame()

In [69]:
#Add the list to a new dataframe
highschoolinfo_df["High School ID"] = highschool_id
highschoolinfo_df["High School name"]=highschool_name
highschoolinfo_df["High School type"]=highschool_type


# Print the DataFrame.
highschoolinfo_df

    High School ID       High School name High School type
0                0      Huang High School         District
1                1   Figueroa High School         District
2                2    Shelton High School          Charter
3                3  Hernandez High School         District
4                4    Griffin High School          Charter
5                5     Wilson High SChool          Charter
6                6    Cabrera High School          Charter
7                7     Bailey High School         District
8                8     Holden High School          Charter
9                9       Pena High School          Charter
10              10     Wright High School          Charter
11              11  Rodriguez High School         District
12              12    Johnson High School         District
13              13       Ford High School         District
14              13     Thomas High School          Charter